
.flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    width: 100%;
}

.flexible a:hover{
    text-decoration: underline;
    color: blue;
}
.bold {
    font-weight: 500;
}
.muted {
    color: rgba(0, 0, 0, .3);
}

.list {
    width: 50vw;
}

.pointer {
    cursor: pointer;
}